 {{! handlebars template, will be compiled by the grunt task. The compiled version will be used in the app to improve perfermance}}
 <div class="content_view">
  <div class="container">
    <h1>{{header}}</h1>
    <p>{{text}}</p>
    <p><a class="btn btn-primary btn-lg cloud-action-button"><i class="icon-external-link-sign"></i> {{buttonText}}</a></p>
    <p class="response_content alert"></p>
    <p class="extra_response hidden">
      {{extraRes}}
    </p>
  </div>
</div>