 {{! handlebars template, will be compiled by the grunt task. The compiled version will be used in the app to improve perfermance}}
 <div class="content_view">
  <div class="container cloud_integration">
    <h1>{{header}}</h1>
    <p>{{text}}</p>
    <div class="row">
    {{#each plugins}}
      <div class="col-xs-4 col-sm-3 col-md-2 plugins">
        <img src="img/plugins/{{this.img}}" class="img-responsive" />
      </div>
    {{/each}}
    </div>
  </div>
</div>