 {{! handlebars template, will be compiled by the grunt task. The compiled version will be used in the app to improve perfermance}}
<nav class="navbar navbar-default" role="navigation">
<div class="nav pull-left">
  <a class="btn back"><i class="icon-chevron-left icon-2x"></i></a>
</div>
<div class="navbar-title" {{#if titleWidth}}style="width: {{titleWidth}}px"{{/if}}>
<div class="nav navbar-text">{{title}}</div>
</div>
</nav>