 {{! handlebars template, will be compiled by the grunt task. The compiled version will be used in the app to improve perfermance}}
 <div class="content_view">
  <div class="container">
    <h1>{{header}}</h1>
    <img src="img/nodejs.png" class="img-responsive"/>
    <p>{{text}}</p>
  </div>
</div>